-- Check user_data table structure
SELECT column_name, data_type, is_nullable FROM information_schema.columns WHERE table_name = 'user_data' ORDER BY ordinal_position;

-- Check if user_data table exists
SELECT table_name FROM information_schema.tables WHERE table_name = 'user_data';

-- Sample wishlist data
SELECT userId, type, data, updated_at FROM user_data WHERE type = 'wishlist' LIMIT 5;
